<%-include("./HeaderFooter/header")%>
<h1>Events</h1>

<body>
  <script> 
   src="https://maps.googleapis.com/maps/api/js?key="+ <%= apiKEY %> +"&callback=initMap"
    type="text/javascript"</script>
  <script> src="https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key="+ <%= apiKEY %> +"&callback=initMap" </script>

  <div id="map" style="width: 100%; height: 80%;"></div>
  <script type="text/javascript">
    var geocoder = new google.maps.Geocoder();
    var result = <%- res %>
    var resultarr = result.split("SEP")
    events = eval(resultarr[0])
    orgs = eval(resultarr[1])
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng(49.265911, -123.110143)
    });
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
  for (i = 0; i < 8; i++) {
    geocoder.geocode({ 'address': events[i].e_address }, function (results, status) {
      if (status == 'OK') {
        marker = new google.maps.Marker({
          animation: google.maps.Animation.DROP,
          position: results[0].geometry.location,
          map: map
        })
        google.maps.event.addListener(marker, 'click', (function (marker, i) {
          return function () {
            infowindow.setContent("<p>" + orgs[0].o_name + "<br />" +
              "Volunteers Needed: " + events[0].e_numppl + "<br /" +
              "</p>" + '<button onclick="quickReg()">Attend!</button>' + " "
              + '<button onclick="myFunction()">More info</button>');
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    });
  }
  </script>
</body>
<%-include("./HeaderFooter/footer")%>